<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
      (function(m,e,t,r,i,k,a){
          m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
          m[i].l=1*new Date();
          for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
          k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
      })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=104640090', 'ym');

      ym(104640090, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/104640090" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <meta charset="UTF-8">
  <title>Вход</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body style="max-width: 500px; margin: 40px auto;">
  <h1>⚷ Вход в систему ⚷</h1>
  {% if error %}
    <div style="color: red;">{{ error }}</div>
  {% endif %}
  <form method="POST">
    <label>Отображаемое имя:</label>
    <input type="text" name="display_name" style="width: calc(100% - 30px);" placeholder="Например: Анна Иванова">

    <label>Почта:</label>
    <input type="email" name="email" style="width: calc(100% - 30px);" required placeholder="you@doohrussia.ru">

    <label>Пароль приложения:</label>
    <input type="password" name="password" style="width: calc(100% - 30px);" required placeholder="••••••••">

    <a href="https://yandex.ru/support/id/ru/authorization/app-passwords#create" style="margin-bottom: 20px; font-size: 14px; color: #757373;">
      Инструкция, как получить пароль<br>
    </a>

    <button type="submit" class="primary-btn" style="margin-top: 30px;">Войти</button>
  </form>
</body>
</html>
